<p-table [value]="shiftTimes" styleClass="p-datatable-gridlines" [tableStyle]="{'min-width': '50rem'}">

    <ng-template pTemplate="caption">
        <div class="flex justify-content-center align-items-center">
            <button pButton pRipple (click)="lastWeek()" type="button" icon="pi pi-angle-left"
                class="p-button-rounded p-button-secondary p-button-text"></button>
            <span>{{startOfWeek | dateFormat: 'LL'}} - {{endOfWeek | dateFormat: 'LL'}}</span>
            <button pButton pRipple (click)="nextWeek()" type="button" icon="pi pi-angle-right"
                class="p-button-rounded p-button-secondary p-button-text"></button>
            <button pButton pRipple (click)="currentWeek()" type="button" label="Heute"
                class="p-button-primary p-button-text"></button>
        </div>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th *ngFor="let weekday of selectedWeek">{{weekday | dateFormat: 'dddd'}}</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-shiftTime>
        <tr>
            <td *ngFor="let weekday of selectedWeek;">
                <div>
                    <button pButton pRipple (click)="showShiftDialog(shiftTime, weekday)" type="button"
                        icon="pi pi-plus" class="p-button-rounded p-button-secondary"></button>
                    <div *ngFor="let shift of shifts; index as i">
                        <div *ngIf="checkMatchingDate(weekday, shiftTime, shift.date, shift.timeOfDay)"
                            class="mb-2 {{shift.division.toLowerCase()}} cursor-pointer">
                            <p-chip
                                label="{{shift.employe.firstName}} {{shift.employe.lastName}} {{shift.start}} - {{shift.end}}"
                                icon="pi pi-user" (dblclick)="editShift(shift)">
                            </p-chip>
                            <button pButton pRipple type="button" icon="pi pi-times" (click)="deleteShift(shift)"
                                class="p-button-rounded p-button-secondary p-button-text btn"></button>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
    </ng-template>
</p-table>