:host ::ng-deep .p-chip.service {
    background-color: #2d7bfb85;
    color: black;
    border-radius: 10px;
}

:host ::ng-deep .p-chip.supervision {
    background-color: #00800063;
    color: black;
    border-radius: 10px;
}

:host ::ng-deep .p-chip.coach {
    background-color: #ff000063;
    color: black;
    border-radius: 10px;
}
