<p-table [value]="shiftplan" styleClass="p-datatable-gridlines" [tableStyle]="{'min-width': '50rem'}">
    <ng-template pTemplate="header">
        <tr>
            <th>Montag</th>
            <th>Dienstag</th>
            <th>Mittwoch</th>
            <th>Donnerstag</th>
            <th>Freitag</th>
            <th>Samstag</th>
            <th>Sonntag </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-shift>
        <tr>
            <td *ngFor="let weekday of shift.weekdays;">
                <div>
                    <button pButton pRipple (click)="showShiftDialog(weekday)" type="button" icon="pi pi-plus"
                        class="p-button-rounded p-button-secondary"></button>
                    <div *ngFor="let shift of weekday.shifts; index as i">
                        <p-chip label="{{shift.employe.firstName}} {{shift.employe.lastName}} {{shift.start}} - {{shift.end}}" icon="pi pi-user"
                            styleClass="mb-2 {{shift.division.toLowerCase()}}" (click)="editShift(weekday, shift, i)" [removable]="true" (onRemove)="deleteShift(weekday, i)"></p-chip>
                    </div>
                </div>
            </td>
        </tr>
    </ng-template>
</p-table>